{% extends 'base.html' %}

{% block navbar %}
    <a class="nav-link active" aria-current="page" href="{% url 'webapp:home' %}">Home page</a>
    <span style="margin-top: 8px">|</span>
    <a class="nav-link active" aria-current="page" href="{% url 'webapp:detail_project' task.project.pk %}">On Projects</a>
{% endblock %}

    <title>{% block title %}Update{% endblock %}</title>

{% block content %}

<h1 style="margin-top: 50px; margin-bottom: 50px">Update your Task</h1>
<form method="post">
    {% include 'partial/create_update_form.html' with value_submit='Заменить' %}
</form>
{% endblock %}