{% extends 'base.html' %}

{% block navbar %}
    <a class="nav-link active" aria-current="page" href="{% url 'webapp:create_project' %}">Add Project</a>
{% endblock %}

<title>{% block title %}Project{% endblock %}</title>

{% block content %}
    <h1 style="margin-top: 50px">Your Projects:</h1>
    <div>
    {% include 'partial/simple_search.html' %}
    </div>
    {% if is_paginated %}
        {% include 'partial/paginate.html' %}
    {% endif %}
    <div class="row row-cols-3">
        {% for project in projects %}
            <div class="col">
                <div class="card mb-3"
                     style="width: 18rem; border-radius: 5px; margin-top: 50px; border: 3px solid black">
                    <div class="card-body">
                        <h4 class="card-title">{{ project.name }}</h4>
                        <h6 class="card-text">Description: {{ project.description }}</h6>
                        <h5 class="card-text">Start date: {{ project.start_date }}</h5>
                        <h5 class="card-text">End date: {{ project.end_date|default:" - " }}</h5>
                        <a href="{% url 'webapp:detail_project' project.pk %}" class="btn btn-dark">See more</a>
                        <a href="{% url 'webapp:update_project' project.pk %}" class="btn btn-dark" style="margin-left: 20px;">Redact</a>
                    </div>
                    <span style="color: midnightblue;">
                    Пользователь:
                    {% for user in project.users.all %}
                        {{ user.username }}
                        {% if not forloop.last %},
                        {% endif %}
                    {% endfor %}
                </span>
                </div>
            {% empty %}
            <h5>Project Not Found :( </h5>
            </div>
        {% endfor %}
    </div>
{% endblock %}